GTFS_API_KEY={API_KEY}
GTFS_API_URL={URL}

DB_NAME={DB_NAME}
DB_USERNAME={USERNAME}
DB_PASSWORD={PASSWORD}

SPRING_DATASOURCE_URL={URL}
SPRING_DATASOURCE_USERNAME=${DB_USERNAME}
SPRING_DATASOURCE_PASSWORD=${DB_PASSWORD}

POLLINGPROJECT_API_KEY={API_KEY}